@using MongoDB.WebIDE.Models
@using MongoDB.Defination
@model ShowDataModel
<div class="PageTitle">
	<i class="icon-inbox"></i>&nbsp;<strong class="text-info">@Model.Title</strong>
</div>
<div class="accordion-heading alert-success mt10">
	<a class="accordion-toggle">表数据</a>
</div>
<table class="table table-bordered table-striped table-hover">
	<tr>
		@{
			foreach (var item in Model.Fields)
			{
			<th>
				<span class="label label-info">@item.Name</span>
			</th>
			}
		}
	</tr>
	@{
		foreach (var doc in Model.Data)
		{
		<tr>
			@foreach (var item in Model.Fields)
   {
				<td>
					@doc[item.Name]
				</td>
   }
		</tr>
		}
	}
</table>
